<a href="https://colab.research.google.com/github/aniruddhamodak/python-for-datascience/blob/master/Introduction_To_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This is my First jupyter Notebook.

(Press Shift+ Enter)

In [0]:
Name = "Aniruddha"
# this is a stirng variable

In [3]:
Name

'Aniruddha'

In [0]:
#form of a number
age= 22
# for a character string we need a inverted comos but for but for a number string  not required

In [7]:
age

22

In [8]:
print (Name)
print (age)

Aniruddha
22

In [0]:
#boolean Vairalbe (Value Starts with a Capital letter)
male = True

In [13]:
male

True

In [0]:
#Floating Numbers 
percentage = 87.88

In [15]:
percentage

87.88

List Of Variables. it Will show the gorup of values.

In [0]:
marks = [87,78,60, "Aniruddha"]

In [36]:
#printout the length of list marks
len(marks)

4

In [17]:
marks

[87, 78, 60, 'Aniruddha']

In [18]:
marks [3]
# Always start with 0. To Print only the name put the number

'Aniruddha'

In [0]:
education={"Name" : "aniruddha", "Tenth" :87, "Tweleth" :70, "Graduation":60, "Male" :True  }

In [20]:
education

{'Graduation': 60,
 'Male': True,
 'Name': 'aniruddha',
 'Tenth': 87,
 'Tweleth': 70}

In [21]:
education

{'Graduation': 60,
 'Male': True,
 'Name': 'aniruddha',
 'Tenth': 87,
 'Tweleth': 70}

In [23]:
#selecting an item froma dictionary
# print only your tenth grade
education["tenth"]

KeyError: ignored

In [24]:
education ["Tenth"]

87

In [25]:
#Print only keys
education.keys()

dict_keys(['Name', 'Tenth', 'Tweleth', 'Graduation', 'Male'])

In [0]:
#For list [] are used
#For dictioniries {} are used

In [27]:
#print only the values in the dictionaries
education.values()

dict_values(['aniruddha', 87, 70, 60, True])

In [0]:
#make a dictionary containing a list of marks of 3 students.
students = {"st1": [90,91,91],
            "st2" : [50,50,50],
            "st3": [60,89,48]}

In [39]:
#print the marks for student 2 and his only graduation score.
print (students ["st2"][-1], students ["st3"][2]) #-1 is used to print the last value. or else we can use the number.

50 48

In [0]:
9# Make a list containing a disctionary
fiends =[{"name": "rahul","age" : 27,}, {"name": "ravi", "age" : 26}]

In [40]:
# Trying to find out a data type.
type(marks)

list

In [41]:
#create a list of names of 3 friends, print it and add a fourth a 
friends=["a","b","c"]
friends

['a', 'b', 'c']

In [0]:
friends.append('d')

In [43]:
friends

['a', 'b', 'c', 'd']

In [0]:
friends.append(['e','f'])

In [48]:
friends

['a', 'b', 'c', 'd', 'e', ['e', 'f']]

In [0]:
friends[0]= "f"

In [51]:
friends

['f', 'b', 'c', 'd', 'e', ['e', 'f']]